@using Microsoft.AspNetCore.Http
@model MessageListViewModel

@section Scripts
{
    <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script>

        let baseUrl = "@(Url.Action("Index", "MessageDetails"))";

        function operateFormatter(value, row, index) {
            return '<a class="detail" href=' + (baseUrl + "/?id=" + row.id) +' title ="Detail">Detail</a>';
        };


        //maintain selected items
        var $table = $('#table')
        var selections = []

        function responseHandler(res) {
            $.each(res.rows, function (i, row) {
                row.state = $.inArray(row.id, selections) !== -1
            })
            return res
        }

        $(function () {
            $table.on('check.bs.table check-all.bs.table uncheck.bs.table uncheck-all.bs.table',
                function (e, rowsAfter, rowsBefore) {
                    var rows = rowsAfter

                    if (e.type === 'uncheck-all') {
                        rows = rowsBefore
                    }

                    var ids = $.map(!$.isArray(rows) ? [rows] : rows, function (row) {
                        return row.id
                    })

                    var func = $.inArray(e.type, ['check', 'check-all']) > -1 ? 'union' : 'difference'
                    selections = window._[func](selections, ids)
                })

            $table.on('search.bs.table',
                function () {
                    selections = []
                    console.log("selection cleared")
                })
        })


        $("#btnDeleteMessages").click(function () {

            var data = { "ids": selections }

            if (selections.length > 0) {
                sendRequest("/servicebus/MessageList/DeleteMessages", data);
            }
        });

        $("#btnAbortMessages").click(function () {

            var data = { "ids": selections , "queue": "@Model.QueueInfo.Name" }

            if (selections.length > 0) {
                sendRequest("/servicebus/MessageList/AbortMessages", data);
            }
        });

        $("#btnReplayMessages").click(function () {

            var data = { "ids": selections , "queue": "@Model.QueueInfo.Name" }

            if (selections.length > 0) {
                sendRequest("/servicebus/MessageList/ReplayMessages", data);
            }
        });

        function sendRequest(url, data) {
            displayBusyIndicator();

            $.ajax({
                type: "POST",
                headers: { 'Content-Type': 'application/json' },
                url: url,
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (response) {

                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }
    </script>
}

@section Styles
{
    <link rel="stylesheet" href="lib/bootstrap-table/bootstrap-table.min.css" />
}

<div>
    <h3 class="display-5"> @Model.QueueInfo.Name</h3>
    <div>
        <div>Investigating: @Model.Count </div>
        <div>On the queue: @Model.QueueInfo.MessageCount </div>
    </div>

    <div>
        <a asp-controller="MessageList" asp-action="ReceiveMessages" asp-route-queue="@Model.QueueInfo.Name" onclick="displayBusyIndicator()">Get More Messages</a> |
        <a id="btnReplayMessages" href="">Replay</a> |
        <a id="btnAbortMessages" href="">Abort</a> |
        <a id="btnDeleteMessages" href="" onclick="displayBusyIndicator()">Delete</a> |
        <a asp-controller="MessageList" asp-action="EndSession" asp-route-queue="@Model.QueueInfo.Name" onclick="displayBusyIndicator()">End Session</a>
    </div>

    <table id="table"
           data-toggle="table"
           data-pagination="true"
           data-search="true"
           data-click-to-select="true"
           data-sortable="true"
           data-side-pagination="server"
           data-url="@Url.Action("data", "MessageList")"
           style="table-layout: fixed"
           data-response-handler="responseHandler">
        <thead>
            <tr>
                <th scope="col"
                    class="col-wrap"
                    data-field="id"
                    data-visible="false">
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-field="state"
                    data-checkbox="true"
                    data-width="5"
                    data-width-unit="%">
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="originatingEndpoint"
                    data-width="10"
                    data-width-unit="%">
                    Originating Endpoint
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="processingEndpoint"
                    data-width="10"
                    data-width-unit="%">
                    Processing Endpoint
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="false"
                    data-field="body"
                    data-width="25"
                    data-width-unit="%">
                    Body
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="false"
                    data-field="exception"
                    data-width="25"
                    data-width-unit="%">
                    Exception
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="exceptionType"
                    data-width="10"
                    data-width-unit="%">
                    Exception Type
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="false"
                    data-width="10"
                    data-width-unit="%"
                    data-formatter="operateFormatter">
                    Actions
                </th>
            </tr>
        </thead>
    </table>
</div>