@using Microsoft.AspNetCore.Http
@model MessageListViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

    <script type="text/javascript">

        function operateFormatter(value, row, index) {
            return '<a class="detail" href=' + ($('#baseUrl').val() + "/?id=" + row.id) + ' title ="Detail">Detail</a>';
        };

        var $table = $("#table");
        var selections = [];

        function responseHandler(res) {
            $.each(res.rows,
                function (i, row) {
                    row.state = $.inArray(row.id, selections) !== -1;
                });

            return res;
        }

        function sendRequest(url, data) {
            displayBusyIndicator();

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
                data: {
                    '__RequestVerificationToken': token,
                    "data": JSON.stringify(data)
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            })
                .then(function () {
                    location.reload();
                });
        }

        $(function () {
            $table.on('check.bs.table check-all.bs.table uncheck.bs.table uncheck-all.bs.table',
                function (e, rowsAfter, rowsBefore) {
                    var rows = rowsAfter;

                    if (e.type === 'uncheck-all') {
                        rows = rowsBefore;
                    }

                    var ids = $.map(!$.isArray(rows) ? [rows] : rows,
                        function (row) {
                            return row.id;
                        });

                    var func = $.inArray(e.type, ['check', 'check-all']) > -1 ? 'union' : 'difference';
                    selections = window._[func](selections, ids);
                });

            $table.on('search.bs.table',
                function () {
                    selections = [];
                    console.log("selection cleared");
                });
        });

        $("#btnDeleteMessages").click(function () {

            $('#deleteConfirmationModal').modal()
        });

        $('#btnDeleteMessagesModalConfirmation').click(function () {

            $('#deleteConfirmationModal').modal('hide');
            displayBusyIndicator();
            var data = { "ids": selections }

            if (selections.length > 0) {
                sendRequest($('#deleteUrl').val(), data);
            }
        })

        $("#btnAbortMessages").click(function () {

            var data = { "ids": selections, "queue": $("#queueName").val() }

            if (selections.length > 0) {
                sendRequest($('#abortUrl').val(), data);
            }
        });

        function replayMessages(queue) {
            displayBusyIndicator();
            $('#replayMessagesIdsField').val(selections);
            $('#replayMessagesQueueNameField').val(queue);
            $('#replayMessagesForm').submit();
        }

        function getQueueMessages(queue) {
            displayBusyIndicator();
            var qtyValue = $('#getQty :selected').val();
            $('#receiveMessagesQtyField').val(qtyValue);
            $('#receiveMessagesQueueNameField').val(queue);
            $('#receiveMessagesForm').submit();
        }

    </script>
}

@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.css" />
}

<div>

    <input id="baseUrl" type="hidden" value="@(Url.Action("Index", "MessageDetails"))" />
    <input id="deleteUrl" type="hidden" value="@(Url.Action("DeleteMessages", "MessageList"))" />
    <input id="abortUrl" type="hidden" value="@(Url.Action("AbortMessages", "MessageList"))" />
    <input id="queueName" type="hidden" value="@Model.QueueInfo.Name" />

    <h3 class="govuk-heading-l">Queue - @Model.QueueInfo.Name</h3>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Investigating
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.Count
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                On the queue
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.QueueInfo.MessageCount
            </dd>
        </div>
    </dl>

    <div>
        <fieldset>
            <legend>Message actions</legend>

            <select name="getQty" id="getQty">
                <option value="250">250</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
            <a class="govuk-link" id="btnReceiveMessages" href="#" onclick='getQueueMessages("@Model.QueueInfo.Name")' title="Get any further messages that may be on the queue">Get more</a> |
            <form method="post" id="receiveMessagesForm" asp-action="ReceiveMessagesFromQueue">
                <input type="hidden" name="getQuantity" id="receiveMessagesQtyField" />
                <input type="hidden" name="queueName" id="receiveMessagesQueueNameField" />
            </form>

            <a class="govuk-link" id="btnReplayMessages" href="#" onclick='replayMessages("@Model.QueueInfo.Name")' title="Move selected messages back to the processing queue">Move selected to processing queue</a> |
            <form method="post" id="replayMessagesForm" asp-action="ReplayMessages">
                <input type="hidden" name="ids" id="replayMessagesIdsField" />
                <input type="hidden" name="queueName" id="replayMessagesQueueNameField" />
            </form>

            <a class="govuk-link" id="btnDeleteMessages" href="#" title="Delete the selected messages permanently">Delete selected</a> |
            <a class="govuk-link" id="btnAbortMessages" href="#" title="Release selected messages back to the ServiceBus Queue they came from">Release selected</a> |
            <a class="govuk-link" asp-controller="MessageList" asp-action="ReleaseMessages" asp-route-queue="@Model.QueueInfo.Name" onclick="displayBusyIndicator()" title="Release messages back to the servicebus queue they came from">Release all</a>
        </fieldset>
    </div>

    <table id="table"
           class="govuk-table"
           data-toggle="table"
           data-pagination="true"
           data-search="true"
           data-click-to-select="true"
           data-sortable="true"
           data-side-pagination="server"
           data-url="@Url.Action("Index", "Messages")"
           style="table-layout: fixed"
           data-response-handler="responseHandler">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col"
                    class="col-wrap"
                    data-field="id"
                    data-visible="false">
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-field="state"
                    data-checkbox="true"
                    data-width="5"
                    data-width-unit="%">
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="originatingEndpoint"
                    data-width="10"
                    data-width-unit="%">
                    Originating endpoint
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="processingEndpoint"
                    data-width="10"
                    data-width-unit="%">
                    Processing endpoint
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="false"
                    data-field="body"
                    data-width="25"
                    data-width-unit="%">
                    Body
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="false"
                    data-field="exception"
                    data-width="25"
                    data-width-unit="%">
                    Exception
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="true"
                    data-field="exceptionType"
                    data-width="10"
                    data-width-unit="%">
                    Exception type
                </th>
                <th scope="col"
                    class="col-wrap"
                    data-sortable="false"
                    data-width="10"
                    data-width-unit="%"
                    data-formatter="operateFormatter">
                    Actions
                </th>
            </tr>
        </thead>
    </table>

    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title govuk-heading-m">Delete messages</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="govuk-body">Deleting a message will permanently remove it from a queue. This action is not reversible.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="govuk-button" data-module="govuk-button" id="btnDeleteMessagesModalConfirmation">Confirm</button>
                    <button type="button" class="govuk-button govuk-button--secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
