@model SFA.DAS.Tools.Servicebus.Support.Core.Models.QueueMessage

    <div class="container-fluid">
        <div class="row mb-4">
            <input type="button" class="btn btn-primary" onclick="history.go(-1)" value="Return to message list" />
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Message</h5>
                                <form>
                                    <div class="form-group mt-3">
                                        <label for="queue">Queue</label>
                                        <span id="queue" class="form-control">@Model.Queue</span>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="body">Body</label>
                                        <textarea id="body" name="body" rows="8" class="form-control" readonly="readonly">@Model.Body</textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Message Properties</h5>
                        <div class="table-responsive">
                            <table class="table-sm table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Key</th>
                                    <th scope="col">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>ContentType</th>
                                    <td>@Model.OriginalMessage.ContentType</td>
                                </tr>
                                <tr>
                                    <th>CorrelationId</th>
                                    <td>@Model.OriginalMessage.CorrelationId</td>
                                </tr>
                                <tr>
                                    <th>Label</th>
                                    <td>@Model.OriginalMessage.Label</td>
                                </tr>
                                <tr>
                                    <th>MessageId</th>
                                    <td>@Model.OriginalMessage.MessageId</td>
                                </tr>
                                <tr>
                                    <th>PartitionKey</th>
                                    <td>@Model.OriginalMessage.PartitionKey</td>
                                </tr>
                                <tr>
                                    <th>ReplyTo</th>
                                    <td>@Model.OriginalMessage.ReplyTo</td>
                                </tr>
                                <tr>
                                    <th>ReplyToSessionId</th>
                                    <td>@Model.OriginalMessage.ReplyToSessionId</td>
                                </tr>
                                <tr>
                                    <th>ScheduledEnqueueTimeUtc</th>
                                    <td>@Model.OriginalMessage.ScheduledEnqueueTimeUtc</td>
                                </tr>
                                <tr>
                                    <th>SessionId</th>
                                    <td>@Model.OriginalMessage.SessionId</td>
                                </tr>
                                <tr>
                                    <th>Size</th>
                                    <td>@Model.OriginalMessage.Size</td>
                                </tr>
                                <tr>
                                    <th>TimeToLive</th>
                                    <td>@Model.OriginalMessage.TimeToLive</td>
                                </tr>
                                <tr>
                                    <th>To</th>
                                    <td>@Model.OriginalMessage.To</td>
                                </tr>
                                <tr>
                                    <th>ViaPartitionKey</th>
                                    <td>@Model.OriginalMessage.ViaPartitionKey</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Message Custom Properties</h5>
                        <div class="table-responsive">
                            <table class="table-sm table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Key</th>
                                    <th scope="col">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var kvp in Model.UserProperties)
                                {
                                    <tr>
                                        <th scope="row"><span style="word-wrap: break-word;">@kvp.Key</span></th>
                                        <td><span style="word-wrap: break-word;">@kvp.Value</span></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>