@model MessageDetailViewModel

<div class="container-fluid">
    <div class="row mb-4">
        <input type="button" class="govuk-button" onclick="history.go(-1)" value="Return to message list" />
    </div>
    <div class="row">
        <div class="col-sm-5">

            <div class="row">
                <div class="col-sm-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title govuk-heading-l">Message</h5>
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Queue
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.Queue
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Body
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.Body
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
               
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title govuk-heading-l">Properties</h5>
                    <div class="table-responsive">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Key</th>
                                <th scope="col" class="govuk-table__header">Value</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            @foreach (var kvp in Model.Properties)
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header"><span style="word-wrap: break-word;">@kvp.Key</span></th>
                                    <td class="govuk-table__cell"><span style="word-wrap: break-word;">@kvp.Value</span></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title govuk-heading-l">Custom Properties</h5>
                    <div class="table-responsive">
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Key</th>
                                <th scope="col" class="govuk-table__header">Value</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            @foreach (var kvp in Model.UserProperties)
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header"><span style="word-wrap: break-word;">@kvp.Key</span></th>
                                    <td class="govuk-table__cell"><span style="word-wrap: break-word;">@kvp.Value</span></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>